Repository EPSI-DIP-GROUPE-2/g2p2p: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

build: setup dockerfile
  .dockerignore
  Dockerfile
Due: none

feat: express bootstrap
  config/default.yaml
  package.json
  src/controllers/index.ts
  src/handlers/config.handler.ts
  src/handlers/index.ts
  src/index.ts
  src/interceptors/helmet.interceptor.ts
  src/interceptors/index.ts
  src/interceptors/morgan.interceptor.ts
  src/routes.ts
  src/utils/config.util.ts
  src/utils/index.ts
  src/utils/logger.util.ts
  yarn.lock
Due: eslint, prettier --write

chore: setup static file structure
  static/assets/scripts/.gitkeep
  static/assets/styles/.gitkeep
  static/index.html
Due: none

build: webpack scss build
  .gitignore
  package.json
  static/assets/styles/globals.scss
  webpack.config.cjs
  yarn.lock
Due: prettier --write

ajout index + auth + homt + style + logo
  static/assets/logo/logo.svg
  static/auth.html
  static/home.html
  static/index.html
  styles/style.css
  styles/style.scss
Due: none

chore: improve Docker setup, add husky pre-commit, and update static assets
  .dockerignore
  .husky/pre-commit
  CONTRIBUTING.md
  Dockerfile
  README.md
  package.json
  src/routes.ts
Due: eslint, prettier --write

refactor: unused styles
  .husky/pre-commit
  styles/style.css
  styles/style.scss
Due: none

modif scss ajout global
  src/routes.ts
  static/assets/styles/globals.scss
  static/auth.html
  static/home.html
  static/index.html
Due: eslint, prettier --write

fix css logo + center navbar
  static/assets/styles/globals.scss
  static/index.html
Due: none

fix(build): docker build static
  .dockerignore
  Dockerfile
  webpack.config.cjs
Due: none

fix: scss auth center input
  static/assets/styles/globals.scss
  static/auth.html
Due: none

feat(services/user): add UserService with initialization logic
  src/index.ts
  src/services/index.ts
  src/services/user.service.ts
  src/utils/database.util.ts
Due: eslint, prettier --write

feat(utils): add SQLite database support with Sequelize
  config/custom-environment-variables.yaml
  config/default.yaml
  package.json
  src/handlers/database.handler.ts
  src/handlers/index.ts
  src/index.ts
  src/utils/database.util.ts
  src/utils/index.ts
  yarn.lock
Due: eslint, prettier --write

feat(models): add user model
  config/default.yaml
  src/handlers/crypto.handler.ts
  src/handlers/index.ts
  src/models/index.ts
  src/models/user.model.ts
  src/utils/crypto.util.ts
  src/utils/database.util.ts
  src/utils/index.ts
Due: eslint, prettier --write

chore: add body-parser and cookie-parser middleware
  package.json
  src/index.ts
  src/middlewares/validate.middleware.ts
  yarn.lock
Due: eslint, prettier --write

feat(auth): add request validation with zod middleware
  package.json
  src/controllers/auth.controller.ts
  src/handlers/crypto.handler.ts
  src/handlers/index.ts
  src/handlers/validate.handler.ts
  src/index.ts
  src/middlewares/index.ts
  src/middlewares/validate.middleware.ts
  src/models/user.model.ts
  src/types/response.type.ts
  src/utils/file.util.ts
  yarn.lock
Due: eslint, prettier --write

feat(utils): add JWT handling with key generation and verification
  config/custom-environment-variables.yaml
  config/default.yaml
  package.json
  src/handlers/crypto.handler.ts
  src/handlers/file.handler.ts
  src/handlers/index.ts
  src/handlers/token.handler.ts
  src/index.ts
  src/types/crypto.type.ts
  src/types/token.type.ts
  src/utils/crypto.util.ts
  src/utils/file.util.ts
  src/utils/index.ts
  src/utils/jwt.util.ts
  yarn.lock
Due: eslint, prettier --write

feat(utils): file util
  src/handlers/config.handler.ts
  src/handlers/file.handler.ts
  src/handlers/index.ts
  src/utils/file.util.ts
  src/utils/index.ts
Due: eslint, prettier --write

docs(api): add Auth API documentation
  README.md
  docs/api.md
Due: none

feat(controllers/auth): add `/api/me` endpoint and authentication middleware
  src/controllers/auth.controller.ts
  src/middlewares/auth.middleware.ts
  src/middlewares/index.ts
  src/middlewares/validate.middleware.ts
  src/routes.ts
  src/services/user.service.ts
Due: eslint, prettier --write

feat(controllers/auth): add login endpoint with JWT authentication
  config/default.yaml
  src/controllers/auth.controller.ts
  src/controllers/index.ts
  src/handlers/database.handler.ts
  src/handlers/index.ts
  src/handlers/response.handler.ts
  src/routes.ts
  src/schemas/auth.schema.ts
  src/schemas/index.ts
  src/services/user.service.ts
  src/types/token.type.ts
  src/utils/config.util.ts
  src/utils/jwt.util.ts
Due: eslint, prettier --write

delete none used class and create register page
  src/routes.ts
  static/assets/styles/globals.scss
  static/home.html
  static/index.html
  static/register.html
Due: eslint, prettier --write

feat(schemas): add message request schema
  src/schemas/index.ts
  src/schemas/message.schema.ts
Due: eslint, prettier --write

feat(models): add MessageModel and message status enum
  src/models/index.ts
  src/models/message.model.ts
  src/types/message.type.ts
  src/utils/database.util.ts
Due: eslint, prettier --write

feat(services): add message creation service
  src/services/index.ts
  src/services/message.service.ts
Due: eslint, prettier --write

feat(database): add configurable database sync option
  README.md
  config/custom-environment-variables.yaml
  config/default.yaml
  src/utils/database.util.ts
Due: eslint, prettier --write

feat(controllers/messages): add message controller and routes
  src/controllers/index.ts
  src/controllers/message.controller.ts
  src/routes.ts
Due: eslint, prettier --write

feat(utils/crypto): add support for RSA encryption keys
  config/custom-environment-variables.yaml
  config/default.yaml
  src/index.ts
  src/utils/crypto.util.ts
Due: eslint, prettier --write

feat: update index.ts and globals.scss for socket.io chat
  src/index.ts
  static/assets/styles/globals.scss
Due: eslint, prettier --write

feat: ajout chat.html et maj index.ts
  src/index.ts
  static/chat.html
Due: eslint, prettier --write

feat(utils/crypto): add public/private key crypto utilities
  src/utils/crypto.util.ts
Due: eslint, prettier --write

refactor(controllers/messages): use crypto keys for message sender key
  src/controllers/message.controller.ts
Due: eslint, prettier --write

feat(models/contact): add ContactModel and register it in database
  src/models/contact.model.ts
  src/models/index.ts
  src/utils/database.util.ts
Due: eslint, prettier --write

feat(services/contact): add ContactService
  src/services/contact.service.ts
  src/services/index.ts
Due: eslint, prettier --write

feat(controllers/contacts): add ContactController
  src/controllers/contact.controller.ts
  src/controllers/index.ts
  src/routes.ts
Due: eslint, prettier --write

docs(api): organize API docs and add Contacts documentation
  docs/api/auth.md
  docs/api/contacts.md
Due: none

feat(controllers/contacts): add create contact functionality
  src/controllers/contact.controller.ts
  src/models/contact.model.ts
  src/routes.ts
  src/schemas/contact.schema.ts
  src/schemas/index.ts
  src/services/contact.service.ts
Due: eslint, prettier --write

docs(api/contacts): update contacts api documentation
  docs/api/contacts.md
Due: none

fix(controllers/contacts): omit public_key from findAll response
  docs/api/contacts.md
  src/controllers/contact.controller.ts
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.ts
  prettier --write: any of: *.{ts,mjs,json,yaml,yml}
