Repository EPSI-DIP-GROUPE-2/g2p2p: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
	"*.ts": "eslint",
	"*.{ts,mjs,json,yaml,yml}": "prettier --write"
}

feat: ajout auth.html, home.html et script auth.js
  package.json
  static/assets/scripts/auth.js
  static/auth.html
  static/home.html
  yarn.lock
Due: prettier --write

feat(utils/socket): add WebSocket support with authentication
  package.json
  src/handlers/index.ts
  src/handlers/socket.handler.ts
  src/index.ts
  src/middlewares/auth.middleware.ts
  src/middlewares/index.ts
  src/routes.ts
  src/sockets.ts
  src/types/token.type.ts
  src/utils/index.ts
  src/utils/socket.util.ts
  yarn.lock
Due: eslint, prettier --write

feat(utils/socket): add websocket utilities
  src/handlers/socket.handler.ts
  src/sockets.ts
  src/utils/socket.util.ts
Due: eslint, prettier --write

feat(services): add socket emission on creation
  src/services/contact.service.ts
  src/services/message.service.ts
Due: eslint, prettier --write

build(docker): add build tools and setup directories for production
  Dockerfile
  config/production.yaml
  src/utils/database.util.ts
Due: eslint, prettier --write

Initial commit on branch persojc
  src/routes.ts
  static/assets/scripts/contacts.js
  static/assets/scripts/newcontact.js
  static/assets/styles/globals.scss
  static/contacts.html
  static/home.html
  static/newcontact.html
  static/under-construction.html
Due: eslint, prettier --write

feat(controllers/messages): list all messages
  src/controllers/message.controller.ts
  src/routes.ts
  src/services/message.service.ts
Due: eslint, prettier --write

feat(contacts): update pages, styles and add QR code logo
  static/assets/logo/qrcode.jpg
  static/assets/scripts/newcontact.js
  static/assets/styles/globals.scss
  static/contacts.html
  static/newcontact.html
Due: none

fix(auth,user,message): add identifier field and align models/services
  docs/api/auth.md
  src/controllers/auth.controller.ts
  src/models/message.model.ts
  src/models/user.model.ts
  src/services/user.service.ts
Due: eslint, prettier --write

docs(messages): MessageModel and API usage
  docs/api/messages.md
Due: none

feat(contacts): update chat page, styles and scripts
  static/assets/scripts/chat.js
  static/assets/scripts/contacts.js
  static/assets/styles/globals.scss
  static/chat.html
Due: none

feat(utils/gun): add peer network with Docker demo setup
  Dockerfile
  config/custom-environment-variables.yaml
  config/default.yaml
  docker/demo.compose.yaml
  package.json
  src/index.ts
  src/types/peer.type.ts
  src/utils/crypto.util.ts
  src/utils/index.ts
  src/utils/peer.util.ts
  yarn.lock
Due: eslint, prettier --write

feat(contacts): update chat page, styles and scripts (#2)
  static/assets/scripts/chat.js
  static/assets/scripts/contacts.js
  static/assets/styles/globals.scss
  static/chat.html
Due: none

feat(auth, docker): customize JWT cookie name, persist container data
  .gitignore
  Dockerfile
  config/custom-environment-variables.yaml
  config/default.yaml
  docker/demo.compose.yaml
  src/controllers/auth.controller.ts
  src/middlewares/auth.middleware.ts
Due: eslint, prettier --write

fix(message): unify identifiers
  src/controllers/message.controller.ts
  src/services/message.service.ts
  src/utils/peer.util.ts
Due: eslint, prettier --write

feat(utils/peer): add message handler and trim public keys
  src/handlers/index.ts
  src/handlers/message.handler.ts
  src/utils/crypto.util.ts
  src/utils/peer.util.ts
Due: eslint, prettier --write

feat(services/contact): switch public key input to file upload and sanitize handling
  src/services/contact.service.ts
  static/assets/scripts/newcontact.js
  static/newcontact.html
Due: eslint, prettier --write

feat(services/message): add basic send/receive flow with encryption WIP
  src/controllers/message.controller.ts
  src/routes.ts
  src/services/contact.service.ts
  src/services/message.service.ts
Due: eslint, prettier --write

feat(messages, contacts): add validation for message receive endpoint and improve contact error handling
  src/handlers/database.handler.ts
  src/routes.ts
  src/schemas/message.schema.ts
  src/services/contact.service.ts
Due: eslint, prettier --write

feat(messages): implement receiveHandler with decryption and message creation
  src/controllers/message.controller.ts
  src/services/message.service.ts
Due: eslint, prettier --write

refactor(messages): unify message receive flow with service layer and improved error handling
  src/controllers/message.controller.ts
  src/services/message.service.ts
  src/types/message.type.ts
Due: eslint, prettier --write

feat(messages): peer persistence
  src/services/message.service.ts
  src/services/user.service.ts
  src/utils/peer.util.ts
Due: eslint, prettier --write

feat(chat): include sender info and clean up client script
  src/controllers/message.controller.ts
  static/assets/scripts/chat.js
Due: eslint, prettier --write
